@import "../../index.scss";

.user {
  font-size: 0.55rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  &-item {
    @include flex-row-between;
    background-color: #ffffff;
    border-bottom: 1px solid $border-color;
    padding: 0.5rem;
    &-content {
      @include flex-row-between;
      .avatar {
        width: 2.5rem;
        height: 2.5rem;
        @include cover;
        @include radius(50%);
      }
      img {
        width: 0.6rem;
        height: 0.6rem;
        margin-left: 0.5rem;
      }
    }
  }
  .mask-box {
    @include flex-column-center;
    justify-content: center;
  }
  &-box {
    background-color: #ffffff;
    width: 80%;
    @include radius(0.1rem);
    &-title {
      padding: 0.5rem;
      border-bottom: 1px solid $border-color;
    }
    &-content {
      p {
        @include flex;
        align-items: center;
        padding: 0.45rem 0.55rem;
        border-top: 1px solid $border-color;
        img {
          width: 1rem;
          height: 1rem;
          margin-right: 0.25rem;
        }
      }
    }
  }
  &-input {
    @include flex-column-center;
    background-color: #ffffff;
    width: 74%;
    padding: 0.75rem 3%;
    @include radius(0.1rem);
    input {
      width: 100%;
      height: 2rem;
      border-bottom: 1px solid $border-color;
      margin-bottom: 0.75rem;
    }
    button {
      width: 100%;
      height: 1.5rem;
      @include radius(0.15rem);
      background: linear-gradient(to right, #ff8c00, #ff5600);
      color: #ffffff;
    }
    &-tip {
      @include scale(0.8);
      color: $light-gray;
      margin-top: 0.75rem;
    }
  }
}