@import "../../index.scss";

.receipt-box {
  background-color: #efefef;
  position: absolute;
  width: 100%;
  height: 100%;
  .edit {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #ffffff;
    .title {
      font-size: 0.5rem;
      @include flex;
      @include flex-row;
      padding: 0.25rem 0px;
      border-bottom: 1px solid $border-color;
      .choose-item {
        margin-left: 0.75rem;
      }
    }
    .item {
      @include flex-row-between;
      padding: 0rem 0.5rem;
      border-bottom: 1px solid $bg-color;
      div {
        @include flex-row-between;
      }
      span {
        font-size: 0.5rem;
        &.must {
          color: $red-color;
          margin-right: 0.5rem;
        }
      }
      input {
        width: 11rem;
        height: 1.8rem;
      }
    }
    .receipt-btn {
      width: 100%;
      height: 1.6rem;
      font-size: 0.55rem;
      @include text-center(1.6rem);
      color: #ffffff;
      &.inactive {
        background-color: #cccccc;
      }
      &.active {
        background-color: $red-color;
      }
    }
  }
  .receipt-list {
    max-height: 12rem;
    overflow: scroll;
    li {
      background-color: #ffffff;
      margin-top: 0.3rem;
      font-size: 0.55rem;
      padding: 0.25rem 0.5rem;
      position: relative;
      span {
        position: absolute;
        right: 0.5rem;
        top: 0.7rem;
      }
    }
  }
}