@import "../../index.scss";
@import "../../../static/animation";

$padding: 0.5rem;

.address {
  background-color: $bg-color;
  width: 100%;
  height: 100%;
  position: absolute;
  &-list {
    &-item {
      background-color: #ffffff;
      margin-bottom: 0.5rem;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      padding: 0px $padding;
      &:first-child {
        border-top: none;
      }
      &-user {
        padding-top: $padding;
        @include flex;
        @include flex-row;
        &-name {
          font-size: 0.6rem;
          width: 6rem;
        }
        &-tel {
          font-size: 0.55rem;
        }
        &-label {
          font-size: 0.5rem;
          margin-left: 0.5rem;
          background-color: #a6c9f1;
          color: #ffffff;
          height: 0.75rem;
          padding: 0px 0.25rem;
          @include text-center(0.75rem);
          @include radius(0.375rem);
          p {
            @include scale(0.8);
            transform-origin: 50% 50%;
          }
        }
      }
      &-address {
        font-size: 0.5rem;
        color: $light-gray;
        padding: $padding 0px;
      }
      &-action {
        border-top: 1px solid $border-color;
        @include flex-row-between;
        font-size: 0.5rem;
        color: $light-gray;
        padding: 0.35rem 0px;
        &-edit {
          @include flex-row-center;
          p {
            @include flex-row-center;
            margin: 0px 0.5rem;
            img {
              @include square-img(0.8rem);
            }
            span {
              margin-left: 0.1rem;
            }
          }
        }
      }
    }
  }
  &-edit {
    &-input {
      background-color: #ffffff;
      border-bottom: 1px solid $border-color;
      @include flex-row-between;
      font-size: 0.5rem;
      padding: 0.15rem 0.5rem;
      height: 1.5rem;
      p {
        &:first-child {
          width: 3.5rem;
        }
      }
      input {
        flex: 1;
      }
      img {
        @include square-img(0.7rem);
      }
    }
    textarea {
      width: 94%;
      background-color: #ffffff;
      height: 2rem;
      padding: 0.5rem 3%;
      resize: none;
      outline: none;
    }
    &-label {
      background-color: #ffffff;
      position: fixed;
      bottom: 0px;
      width: 94%;
      font-size: 0.55rem;
      padding: 1.25rem 3% 0.75rem;
      @include radius(0.5rem 0.5rem 0px 0px);
      input {
        width: 75%;
        padding: 0.35rem;
        border-bottom: 1px solid $border-color;
      }
      .close {
        @include square-img(1rem);
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }
      &-item {
        @include flex-row-between;
        padding: 0.6rem 0px;
        p {
          @include flex-row-center;
          img {
            @include square-img(1rem);
            margin-right: 0.25rem;
          }
        }
        img {
          @include square-img(0.8rem);
        }
      }
      .save-btn {
        background-color: $red-color;
        color: #ffffff;
        @include radius(0.75rem);
        height: 1.5rem;
        width: 75%;
        margin: 0.5rem 12.5%;
        @include text-center(1.5rem);
      }
    }
    &-position {
      width: 100%;
      background-color: #ffffff;
      position: fixed;
      bottom: 0px;
      font-size: 0.5rem;
      text-align: center;
      &-title {
        height: 1.4rem;
        line-height: 1.4rem;
        border: 1px solid $border-color;
        img {
          @include square-img(1rem);
          position: absolute;
          top: 0.2rem;
          right: 0.2rem;
        }
      }
      .address-choice-detail {
        @include flex;
        @include flex-row;
        border-bottom: 1px solid $border-color;
        p {
          @include text-overflow;
          width: 20%;
          text-align: center;
          padding: 0.45rem 0px 0.35rem;
          margin: 0px 2.5%;
          border-bottom: 2px solid transparent;
          &.active {
            border-bottom: 2px solid $red-color;
          }
        }
      }
      .choice {
        .scroll-mask {
          width: 100%;
          height: 16rem;
          overflow: scroll;
        }
        .level {
          li {
            text-align: left;
            padding-left: 0.5rem;
            padding-top: 0.4rem;
            &:last-child {
              padding-bottom: 0.5rem;
            }
          }
          img {
            @include square-img(0.6rem);
          }
        }
      }
    }
  }
  &-btn {
    position: fixed;
    bottom: 0px;
    background-color: $red-color;
    font-size: 0.6rem;
    color: #ffffff;
    height: 1.5rem;
    line-height: 1.5rem;
    @include radius(0.75rem);
    @include flex-row-center;
    &.add-btn {
      width: 90%;
      margin: 0.5rem 5%;
    }
    &.save-btn {
      width: 75%;
      margin: 0.5rem 12.5%;
    }
    img {
      @include square-img(1rem);
    }
    span {
      margin-left: 0.5rem;
    }
  }
}