@import "../../index.scss";

.category {
  &-list {
    @include flex-row-between;
    align-items: flex-start;
    overflow: hidden;
  }
  &-menu {
    width: 25%;
    font-size: 0.6rem;
    li {
      height: 1.8rem;
      @include text-center(1.8rem);
      &.active {
        border-left: 3px solid #ff3a73;
        background-color: #ffffff;
      }
      &.inactive {
        border-left: 2px solid #f7f7f7;
        background-color: #f7f7f7;
      }
    }
  }
  &-content {
    width: 75%;
    overflow: hidden;
    font-size: 0.55rem;
    .list {
      margin-top: 0.5rem;
      .title {
        @include flex-row-center;
        margin-bottom: 0.25rem;
        .line {
          width: 1.5rem;
          height: 1px;
          background-color: $border-color;
        }
        span {
          margin: 0px 0.5rem;
        }
      }
      .item {
        @include flex;
        @include flex-row;
        @include flex-wrap;
        li {
          @include flex-column-center;
          margin: 0.375rem 0.625rem;
          font-size: 0.5rem;
          a {
            @include flex-column-center;
          }
          .cover {
            @include cover;
            @include square-img(2rem);
            margin-bottom: 0.25rem;
          }
          p {
            width: 2.5rem;
            text-align: center;
            @include text-overflow;
          }
        }
      }
    }
  }
  &-result {
    background-color: $bg-color;
    .menu {
      font-size: 0.55rem;
      background-color: #ffffff;
      @include flex-row-around;
      padding: 0.35rem 0.15rem;
      div {
        @include flex-1;
        @include flex-row-center;
        span {
          margin-right: 0.25rem;
        }
        img {
          @include square-img(0.5rem);
          &.style {
            @include square-img(0.7rem);
          }
        }
        p {
          @include flex-column-center;
        }
      }
    }
    .list-item {
      background-color: #ffffff;
    }
    .row {
      @include flex-row-between;
      @include flex-wrap;
      padding-bottom: 0.3rem;
      .list-item {
        width: 49%;
        margin-top: 0.3rem;
      }
    }
    .column {
      margin-top: 0.3rem;
    }
  }
}