@import "../../index.scss";

.order-detail {
  &-status {
    background: linear-gradient(to right, #ff8c00, #ff5600);
    color: #ffffff;
    font-size: 0.5rem;
    @include flex-row-around;
    &-tip {
      @include flex;
      @include flex-column;
      line-height: 1.8;
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.75rem;
    }
  }
  &-address {
    background-color: #ffffff;
    @include flex-row-between;
    font-size: 0.5rem;
    border-bottom: 0.35rem solid $bg-color;
    padding: 0.5rem;
    > img {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
    &-info {
      @include flex-1;
      color: $light-gray;
      line-height: 2;
      position: relative;
      .tel {
        position: absolute;
        right: 0px;
      }
    }
  }
  &-goods {
    font-size: 0.55rem;
    &-shop {
      padding: 0.5rem;
    }
    &-price {
      @include flex-row-between;
      padding: 0.5rem;
    }
    &-freight {
      @include flex-row-between;
      padding: 0px 0.5rem 0.5rem;
    }
    &-money {
      @include flex-row-between;
      padding: 0.5rem;
      border-top: 1px solid $border-color;
      p {
        &:last-child {
          color: $red-color;
        }
      }
    }
  }
  &-telephone {
    font-size: 0.6rem;
    @include flex-row-center;
    padding: 0.4rem;
    border-top: 0.35rem solid $bg-color;
    border-bottom: 0.35rem solid $bg-color;
    img {
      width: 1rem;
      height: 1rem;
      margin-right: 0.25rem;
    }
  }
  &-info {
    font-size: 0.5rem;
    padding: 0px 0.75rem;
    p {
      padding: 0.4rem 0px;
      border-bottom: 1px solid $border-color;
    }
  }
  &-holder {
    height: 2.5rem;
  }
  &-action {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #ffffff;
    border-top: 1px solid $border-color;
    @include flex;
    @include flex-row;
    justify-content: flex-end;
    font-size: 0.5rem;
    p {
      width: 3.5rem;
      height: 1rem;
      @include radius(0.5rem);
      border: 1px solid $border-color;
      text-align: center;
      line-height: 1rem;
      margin: 0.5rem 0.25rem;
      &:last-child {
        color: $red-color;
        border: 1px solid $red-color;
      }
    }
  }
}