@import "../../index.scss";

.home {
  .search-box {
    font-size: 0.5rem;
    @include flex;
    @include flex-row;
    align-items: center;
    width: 88%;
    padding: 0.4rem 2%;
    margin: 0.5rem 4%;
    @include radius(0.1rem);
    img {
      @include square-img(0.8rem);
      margin-right: 0.25rem;
    }
  }
  .category-scroll {
    width: 100%;
    overflow: hidden;
  }
  &-category {
    font-size: 0.5rem;
    border-bottom: 1px solid $border-color;
    overflow: scroll;
    white-space: nowrap;
    li {
      display: inline-block;
      margin: 0.7rem 0.75rem 0.3rem;
      padding-bottom: 0.25rem;
      border-bottom: 2px solid transparent;
      &.active {
        border-bottom: 2px solid $red-color;
      }
    }
  }
  .detail-list {
    @include flex-row-between;
    @include flex-wrap;
    background-color: $bg-color;
    .base-row {
      background-color: #ffffff;
      width: 49%;
      margin-bottom: 2%;
    }
  }
}