.slide-left-enter-active, .slide-left-leave-active {
  transition: all 0.3s ease;
  transform: translateX(0%);
}

.slide-left-enter, .slide-left-leave-to {
  transition: all 0.3s ease;
  transform: translateX(100%);
}