@mixin flex {
  display: flex;
}

@mixin flex-1 {
  flex: 1;
}

@mixin flex-row {
  flex-direction: row;
}

@mixin flex-column {
  flex-direction: column;
}

@mixin row-center {
  justify-content: center;
}

@mixin row-between {
  justify-content: space-between;
}

@mixin row-around {
  justify-content: space-around;
}

@mixin column-center {
  align-items: center;
}

@mixin column-start {
  align-items: flex-start;
}

@mixin column-end {
  align-items: flex-end;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin flex-row-center {
  @include flex;
  @include flex-row;
  @include row-center;
  @include column-center;
}

@mixin flex-row-between {
  @include flex;
  @include flex-row;
  @include row-between;
  @include column-center;
}

@mixin flex-row-around {
  @include flex;
  @include flex-row;
  @include row-around;
  @include column-center;
}

@mixin flex-column-center {
  @include flex;
  @include flex-column;
  @include column-center;
}

@mixin radius($radius: 50%) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-text-overflow($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

@mixin rotate($rotate) {
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate);
}

@mixin scale($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

@mixin translate($size) {
  -webkit-transform: translate($size);
  -moz-transform: translate($size);
  -ms-transform: translate($size);
  -o-transform: translate($size);
  transform: translate($size);
}

@mixin translateX($x) {
  -webkit-transform: translateX($x);
  -moz-transform: translateX($x);
  -ms-transform: translateX($x);
  -o-transform: translateX($x);
  transform: translateX($x);
}

@mixin translateY($y) {
  -webkit-transform: translateY($y);
  -moz-transform: translateY($y);
  -ms-transform: translateY($y);
  -o-transform: translateY($y);
  transform: translateY($y);
}

@mixin top-triangle($color, $size_, $size: $size_) {
  border-bottom: $size_ solid $color;
  border-top: none;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
}

@mixin right-triangle($color, $size_, $size: $size_) {
  border-left: $size_ solid $color;
  border-right: none;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
}

@mixin bottom-triangle($color, $size_, $size: $size_) {
  border-top: $size_ solid $color;
  border-bottom: none;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
}

@mixin left-triangle($color, $size_, $size: $size_) {
  border-right: $size_ solid $color;
  border-left: none;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
}

@mixin cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin gradient($dir, $from, $to) {
  background: -webkit-linear-gradient($dir, $from, $to);
  background: -o-linear-gradient($dir, $from, $to);
  background: -moz-linear-gradient($dir, $from, $to);
  background: linear-gradient(to $dir, $from, $to);
}

@mixin square-img($size) {
  width: $size;
  height: $size;
}

@mixin circle-img($size) {
  width: $size;
  height: $size;
  @include radius(50%);
}

@mixin text-center($height) {
  text-align: center;
  line-height: $height;
}

@mixin transform-origin($dir: center) {
  -webkit-transform-origin: $dir;
  -moz-transform-origin: $dir;
  -ms-transform-origin: $dir;
  -o-transform-origin: $dir;
  transform-origin: $dir;
}