@import "./assets/common";

$dark-gray: #333333;
$light-gray: #979797;
$red-color: #ff5778;
$border-color: #ececec;
$bg-color: #f4f4f4;

.swiper-container {
  width: 100%;
  a {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    margin: 0px 0.15rem;
  }
  .dot_active {
    width: 20px;
  }
}